
#description {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  height: 200px;
}

.MuiAutocomplete-endAdornment {
  padding: 0px;
}

.MuiAutocomplete-popper {
  max-height: 200px;
}

#submit {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

#submit:hover {
  transform: scale(1.05);
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
}
