/* .new-product,
Grid,
textfield {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
} */

/* .new-product,
Grid,
select {
  width: 60%;
  display: flex;
} */

#description {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  height: 200px;
}

/* .new-product > TextField {
  width: 100%;
} */
