#description {
  width: 100%;
  padding: 1.531rem 1.25rem;
  box-sizing: border-box;
  height: 200px;
}

.MuiAutocomplete-endAdornment {
  padding: 0px;
}

.MuiAutocomplete-popper {
  max-height: 25rem;
}

#submit {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

#submit:hover {
  transform: scale(1.05);
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
}

.cart-quantity {
  margin: 0px;
  margin-top: 0.15rem;
}
